body {
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
	color: $dd--color-text-primary;
	background-color: $dd--background-color-base;
	min-width: 1200px;
}

html {
	height: 100%;
}

#daoda {
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

//美化滚动条
/*整体部分*/
::-webkit-scrollbar {
	width: 4px;
	height: 10px;
}

/*滑动轨道*/
::-webkit-scrollbar-track {
	border-radius: 0;
	//background: rgba(0, 0, 0, .25);
}

/*滑块*/
::-webkit-scrollbar-thumb {
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
	background-color: rgba(85, 85, 85, 0.4);
}

/*滑块效果*/
::-webkit-scrollbar-thumb:hover {
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
	background-color: rgba(0, 0, 0, .45)
}

// global style
// 表单设计器栅格
.dd-fence {
	//padding: 15px;
	@include dd-fence;
	//background-color: #F4F8FE;
	&-mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.dd-click {
	cursor: pointer;
}

.dd-link {
	color: $dd--info-color;
	cursor: pointer;
	text-decoration-line: underline;
}

.dd-text-center {
	text-align: center;
}

.dd-card {
	background-color: #fff;
	box-shadow: 0 12px 20px 0 rgba(1, 8, 19, 0.12);
	border-radius: 4px;
}

.p-h-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.p-v-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.p-0 {
	padding: 0 !important;
}

.m-h-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.m-v-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.m-0 {
	margin: 0 !important;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

//动画过渡
.list-complete-enter, .list-complete-leave-to
	/* .list-complete-leave-active for below version 2.1.8 */
{
	opacity: 0;
	transform: translateY(30px);
}

.list-complete-leave-active {
	position: absolute;
}
